.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b1cced;
}
.main-hero {
  width: 100%;
  height: 682px;
  display: flex;
  padding: 1rem;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b1cced;
}
.left-block {
  width: 463px;
  height: 699px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.left-title {
  width: 463px - 2rem;
  font-size: 4rem;
  max-width: auto;
  align-self: stretch;
  text-align: left;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: #000000;
  border-width: 0px;
}
.left-description {
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.learn-more-button {
  align-self: center;
  background-color: #e6e6e6;
}
.left-filler {
  align-self: center;
  margin-top: 2rem;
}
.company-form {
  width: 382px;
  height: 123px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.company-select {
  width: 100%;
  height: var(--dl-size-size-small);
  z-index: 100;
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.company-search-button {
  align-self: flex-end;
  margin-top: 1rem;
  background-color: #e6e6e6;
}
.right-block {
  width: 727px;
  height: 699px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.right-image {
  width: 90%;
  height: auto;
  margin-top: 1rem;
  object-fit: cover;
}
.company-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}
.right-sub-block {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.right-sub-left {
  flex: 1;
  width: 249px;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.basic-stat-label {
  width: 100%;
  font-size: 18px;
  align-self: flex-start;
  margin-top: 1rem;
  text-align: right;
}
.main-stat-label {
  width: 100%;
  font-size: 28px;
  align-self: flex-start;
  margin-top: 2rem;
  text-align: right;
}
.right-sub-right {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.basic-stat-value {
  width: 65%;
  font-size: 18px;
  align-self: flex-end;
  margin-top: 1rem;
}
.main-stat-value {
  width: 65%;
  font-size: 28px;
  align-self: flex-end;
  margin-top: 2rem;
}
@media(max-width: 991px) {
  .main-hero {
    flex-direction: column;
  }
  .left-block {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .left-title {
    text-align: center;
  }
  .left-description {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .main-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .left-description {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .main-hero {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .left-block {
    width: auto;
    margin-bottom: var(--dl-space-space-unit);
  }
  .left-title {
    width: 100%;
  }
  .left-description {
    width: 100%;
  }
  .company-select {
    align-self: flex-end;
    margin-right: var(--dl-space-space-halfunit);
  }
  .company-search-button {
    align-self: flex-end;
    margin-right: var(--dl-space-space-halfunit);
  }
}
