{% extends 'layout.html' %}

{% block content %}
    <div class="right-block">
        <img
          alt="S&P 5y Photo"
          src='../static/all_lstm'
          class="right-image"
        />
        <div class="right-sub-center">
            <span id="prompt_1" class="centered-label">
                Libraries Used:</span>
            <span id="information_1" class="centered-text">
                NumPy, Pandas, TensorFlow, yfinance & scikit-learn</span>
            <span id="prompt_2" class="centered-label">
                Models Applied:</span>
            <span id="information_2" class="centered-text">
                Two-layered LSTM model & Sequential model with Dense layers</span>
            <span id="prompt_3" class="centered-label">
                Data Processing:</span>
            <span id="information_3" class="centered-text">
                Downloaded and scaled historical stock prices from yfinance</span>
            <span id="prompt_4" class="centered-label">
                Training:</span>
            <span id="information_4" class="centered-text">
                Two-layered LSTM model trained with specified lookback and forecast periods</span>
            <span id="prompt_5" class="centered-label">
                Visualization:</span>
            <span id="information_5" class="centered-text">
                Matplotlib used for plotting historical and forecasted prices<br /></span>
        </div>
    </div>
{% endblock %}