<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="#" />
  </head>

  <body style="background-color:#b1cced;">
      <link href="./static/style.css" rel="stylesheet" />
        <div class="main-hero">
          <div class="left-block">
            <h1 class="left-title">Stock Price Predictor</h1>
            <span class="left-description">
              This tool is a basic stock predictor, using historical data
              from the last two years to form an LSTM Model for three selected companies.
              More information regarding the specifics of the application can be found
              to the right or the Github repository can be found at the link below.
            </span>
            <button type="button" onClick="window.open('https://github.com/cwklein/LSTM-PriceForecasting', '_blank'); "  class="standard-button">
              Github Repository
            </button>
            <form method="get" class="company-form" action="{{ url_for('company_page') }}">
              <select required class="company-select" id="company" name="company-select">
                <option value="None" selected disabled hidden>Select a company..</option>
                <option value="AMZN">Amazon</option>
                <option value="AAPL">Apple</option>
                <option value="MSFT">Microsoft</option>
              </select>
              <button type="submit" class="company-search-button">Submit</button>
            </form>
          </div>
            {% block content %}
            {% endblock %}
        </div>
  </body>

</html>
