<!doctype html>
<html>

<div>
  <link href="./static/style.css" rel="stylesheet" />
  <div class="main-container">
    <div class="main-hero">
      <div class="left-block">
        <h1 class="left-title">Stock Price Predictor</h1>
        <span class="left-description">
          This tool is a simulation of a stock predictor, using historical data
          from 2013 to 2018. A link to the referenced datasets as well as
          general information about the machine learning principles used during
          production can be found by following the link below.
        </span>
        <button type="button" onClick="window.open('/info', '_blank'); "  class="learn-more-button">
          Learn More..
        </button>
        <h1 class="left-filler">
          <span>Try It Out!</span>
          <br />
        </h1>
        <form method="post" class="company-form" action="{{ url_for('company_page') }}">
          <select required class="company-select" id="company" name="company-select">
            <option selected>Select a company..</option>
            <option value="GOOGL">Alphabet</option>
            <option value="AMZN">Amazon</option>
            <option value="AAPL">Apple</option>
          </select>
          <button type="submit" class="company-search-button">Submit</button>
        </form>
      </div>
        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>

</html>
